* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
        background-color: mintcream;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px;
    text-align: center;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

section {
    display: block;
    unicode-bidi: isolate;
}

h2 {
    display: block;
    font-size: 1.5em
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
}
.grid-item {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}