* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    overflow-x: hidden;
}

body {
    font-family: "Crimson", sans-serif;
    text-align: center;
    font-size: 22px;
    max-width: 1200px;
    
    position: relative;
    margin: 0 auto;
    padding-top: 5vh;
}

p {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h3 {
    padding-bottom: 2vh;
}


#panel {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    position: absolute;
    top: 0px;
    left: 0px;
    align-content: center;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    font-weight: bold;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-style: preserve-3d;
}

#panel.slide-up {
    transform: translateY(-120vh);

}

.screenshots {
    width: 80%;
    padding-bottom: 2vh;
}

#btn {

    background-color: lightblue;
    padding: 10px 70px;
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 20px;
    margin-bottom: 200px;
    font-size: 2em;
    cursor: pointer;
}

#btn:hover {
    background-color: blueviolet;
}