* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* This is how you make a circle */
    background-color: lavender;
    text-align: center;
    align-content: center;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 30px;
    transition: all 0.3 ease-in;

}

.circle.square {
    border-radius: unset;
    /* This will remove the roundness of the circle */
}

/* .square {
    border-radius: unset !important;
} */

.circle.move-me {
    transform: translateX(300px) rotate(13deg) scale(1.5);
}

.circle.square.make-round {
    border-radius: 50%;
}