* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Background */
body {
    background-color: #b4d7a4;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Navbar styles */
header {
  position: fixed; /* Keeps the navbar fixed at the top */
  top: 0;
  right: 0;
  left: 0;
  background-color: #67815B;
  z-index: 1000; /* Ensure navbar is above the banner */
  padding: 10px 10px;
  width: 100%; /* Ensures navbar takes the full width */
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 20px; /* Space between menu items */
}

.nav-list li a {
  text-decoration: none; /* Text color for the nav items */
  color: white;
  font-size: 1.5em; /* Font size */
  padding: 15px;
  transition: background-color 0.3s ease;
}

.nav-list li a:hover {
  text-decoration:underline;
}

h1 {
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: #00000033 7px 3px 3px;
}

.inspiration {
  display: grid;
  grid-template-columns: 1fr; /* mobile: one column */
  gap: 1rem; /* spacing between items */
  padding: 1rem;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
}

.inspiration img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  display: block;
}

.inspiration figcaption {
  margin-top: 0.5rem;
  font-size: 0.90rem;
  font-weight: bold;
  text-align: center;
}

.inspo-text {
    font-size: 0.85rem;    
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;      
    line-height: 1.4;      
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

@media (min-width: 600px) {
  .h1 {
    font-size: 48px;;
  }

  .inspiration {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }

  .inspiration figcaption {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .h1 {
    font-size: 56px;;
  }

  .inspiration {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }

  .inspiration figcaption { 
    font-size: 1.125rem;
  }

  .inspo-text {
    font-size: 1rem;
  }
}