* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 30px;
    height: 100vh
}

a, h1 {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px 5px rgb(18, 52, 115);
}

a:first-of-type {
    margin-top: 20px;
}

a {
    margin-bottom: 10px;
    display: inline-block;
}


a:hover {
    color: rgb(18, 52, 115);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centers vertically */
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    width: 600px;
}