#s3d {
    perspective: 1500px;
}

#platform {
    width: 200px;
    height: 350px;
    background-color: rgba(96, 96, 96, 0.95);
    transform: translate(100px) rotateX(55deg) rotateZ(45deg);
    transform-style: preserve-3d;
    border-radius: 16px;
    box-shadow: 1px 2px 10px rgba(176, 176, 176, 0.95), 44px 44px 24px rgba(176, 176, 176, 0.25);
    transition: 0.5s ease-in-out transform, 0.5s ease-in-out box-shadow;
}

#platform:hover {
     transform: translateX(100px) translateY(-24px) rotateX(55deg) rotateZ(45deg);
     box-shadow: 1px 2px 10px rgba(176, 176, 176, 0.95),
        70px 70px 24px rgba(176, 176, 176, 0.15) ;
}

#platform p {
    transform: translateY(155px) translateX(-13px) translateZ(20px) rotateX(-90deg) rotateY(90deg);
    transform-style: preserve-3d;
    opacity: 0;
    transition: 0.4s ease-in-out opacity;
}

#platform:hover p {
    opacity: 0.9;
    text-shadow: 2px 6px 6px rgba(176, 176, 176, 0.5);
}