#artists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
    padding: 40px; 
  }

#artists figure {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden; 
    box-shadow: 1px 2px 10px rgb(16, 16, 16);
}

#artists img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    opacity: 1;
    transition: opacity 500ms;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.25;
    transition: opacity 500ms;
}

#artists figcaption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 8px 12px;
    font-size: 1.5em;
    font-family: "Playfair Display", serif;
    text-align: center;
    border-radius: 5px;
    width: 90%;
}

#artists figure:hover figcaption {
    opacity: 1;
}

#artists section{
    padding: 20px;
}

#artists a:link {
    transition: color 0.5s;
  }

#artists img:hover {
    opacity: 1;
  }

#artists figure {
    position: relative; 
  }

#artists figure img {
    position: absolute ;
    top: 0;
    left: 0 ;
  }

#artists figure .visible {
    opacity: 1;
  }

#artists figure .hidden {
    opacity: 0 ;
  }

#artists figure:hover .hidden{
    opacity: 1;
  }

@media screen and (min-width: 1040px) {
    #artists {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {

    #artists {
    grid-template-columns: 1fr;
}
    #artists figure {
        font-size: 1em;
    }
    
}