* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cards {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
    padding: 1rem 0.833rem; 
  }

  #cards figure{
    position: relative;
  }

  #cards a{
    overflow: hidden;
    text-decoration: none;
  }

  #cards img {
    width: 100%;
    aspect-ratio: 16/9 ;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
  }

  #cards section{
    padding: 0.833rem;
  }

  #cards h3 {
    font-family: 'Bebas Neue', serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
  }

  #cards p {
    font-family: 'Bebas Neue', serif;
    font-size: 1.5em;
    color: white;
    opacity: 0;
    transition: 0.5s;
  }

  #cards .over{
    position: relative;
    top: 1.44rem;
    opacity: 0;
    transition: 0.25s;
  }

  #cards a:hover {
    transition: color 1.5s;
  }

  #cards a:hover h3, #cards a:hover p{
    opacity: 1;
  }

  #cards section{
    transform: translateY(1.728rem);
    transition: transform 0.25s;
  }

  #cards a:hover section{
    transform: translateY(0);
  }

  #cards a:hover .over{
    top:0;
    opacity: 1;
  }

  #cards a {
    box-shadow: 1px 2px 10px rgb(16, 16, 16);
    border: 10px;
  }

  @media screen and (min-width:525px) {
    #cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width:925px) {
    #cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }