@media (min-width: 390px) {

  .menu-toggle {
      display: block; /* Show the hamburger */
  }

  .nav-list {
      display: none; /* Hide menu initially */
      flex-direction: column;
  }

  .nav-list li {
      padding: 15px;
  }

  /* Show menu when active */
  .nav-list.active {
      display: flex;
  }

  .gallery-items {
    grid-template-columns: 1fr;
  }

}

@media (min-width: 768px) {
p,
.pairing-tags span {
   font-size: 1.2rem;
}
  
.promo-content h1 {
  font-size: 4em;
}

.about-inner {
  max-width: 80ch;
}

.image {
width: 100%;
height: 500px;
}

.wine-details {
  padding: 1rem 2rem;
}

.wine-image {
  justify-items: center;
  align-items: center;
}

  .gallery-items {
      grid-template-columns: repeat(2, 1fr);
}
  
}

@media (min-width: 1024px) {
/* Deactivate hamburger menu on desktop */
.menu-toggle {
  display: none; 
}

.navbar {
  justify-self: end;
}

.nav-list {
  display: grid; 
  grid-auto-flow: column; 
  gap: 1rem; 
  list-style: none;
}

/* Nav links: Size, padding, and transitions */
.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--font-display);
  font-size: 1.3em;
  padding: 15px;
  transition: color 0.3s ease;
}

/* Hover Effects */
.nav-list li:nth-of-type(odd) a:hover {
  color: #85002b;
}

.nav-list li:nth-of-type(even) a:hover {
  color: var(--yellow);
}

/* PROMO SECTION: side by side */
section.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  text-align: left;
}

.promo-content {
  flex: 1;
  padding: 5rem;
  font-size: 1.25rem;
  line-height: 1.6;
}

.promo-content h2 {
  font-size: 2.5rem;
}

.promo-banner {
  flex: 1;
  padding: 0;
}

.promo-banner img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.desc p {
max-width: 70ch;
}

/* VALDEMAR LEGACY: text left, image right */
section.valdemar-legacy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

section.valdemar-legacy .desc {
  order: 1;
  font-size: 1.125rem;
  line-height: 1.6;
}

section.valdemar-legacy .image {
  order: 2;
}

/* OUR STORY: image left, text right */
section.our-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

section.our-story .desc {
  order: 2;
  font-size: 1.125rem;
  line-height: 1.6;
}

section.our-story .image {
  order: 1;
}

/* WINE SECTIONS: details left, image middle, details right */
.wine-r,
.wine-b {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  text-align: left;
  gap: 2rem;
}

.wine-r .wine-details:first-child,
.wine-b .wine-details:first-child {
  justify-self: end;
  padding-right: 2rem;
  font-size: 1.125rem;
}

.wine-r .wine-details:last-child,
.wine-b .wine-details:last-child {
  padding-left: 2rem;
  font-size: 1.125rem;
}

.wine-image {
  justify-self: center;
  align-self: center;
}

/* Gallery */
.gallery-items {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
}